<!DOCTYPE html>
<html>
<head>
	<title>Username</title>
	<style>
		.center {
			/*border: 3px solid #73AD21;*/
			width: 20%;
			margin-right: auto;
			margin-left: auto;
			margin-top: 40px;
			margin-bottom: auto;
			padding : 20px;
		}
		#user_message{
			padding-left:35%;
			height: 30px;
			margin-bottom: 20px;
			border-radius: 10px;
			border: 3px solid #73AD21; 
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		#send_message{
			display: block;
			margin-left:37%;
		}
	</style>
</head>
<body>
<div class = 'center'>
	<form>
		<input type="text" id = 'user_message' placeholder="Username" name = 'username'>
		<button type = 'botton' id = 'send_message'>Send</button>
	</form>
</div>
</body>
</html>